# DIRECTORIES
STATE_DIR="${SCRIPT_PARENT}/state"

# TEMP
# How long (in seconds) temp can stay above warn temp before alerting
CPU_ABOVE_WARN_THRESH=90
NVME_ABOVE_WARN_THRESH=90

# MAIL
MAIL_TO=""
MAIL_SUBJECT="[$(hostname)] [${APP_NAME}]"

# LOG
LOG_LVL=5
LOG_TO_CONSOLE=1
LOG_TO_CONSOLE_WITH_LVL=0
